.roboto-<uniquifier> {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
@media (max-width: 414px){

}
@media (min-width: 415px) AND (max-width: 1180){

}
@media (min-width: 1181px){

}